<div class="layers">
    <img src="assets/imgs/header-splash-bg@1X.png" class="lay-1">
    <img src="assets/imgs/Path 3739@1X.png" class="lay-2">
    <img src="assets/imgs/Path 3740@1X.png" class="lay-3">
</div>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="assets/imgs/expert-apps-logo-color@1X.png" alt="Expert Apps">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active-navbar-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Solutions</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link full-rap" href="#">Clients & Testimonials</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Our Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link locl-btn" href="#">ع</a>
          </li>
      </ul>
    </div>
  </nav>